JWT_SECRET="AAAAgwCuphAhVdfDe0xuYuMc9OQbuEXcVo15aDwFG/ukGJ3YJ/6DU0I2HAnW/GtkJaXU2+AxWOYNlpd77uBAAAAA"
JWT_EXPIRATION=480000

DB_PASSWORD=example
DB_USERNAME=example
DB_URL=jdbc:postgresql://postgres:5432/example

POSTGRES_DB=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example

EMAIL_USERNAME=youremail@example.com
EMAIL_PASSWORD=aaaa bbbb cccc dddd

SPRING_PROFILES_ACTIVE=dev